[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
apscheduler = "*"
translators = "*"
cloudscraper = "*"
bs4 = "*"
nltk = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "*"
