{% extends 'plus500/base.html'%}

{% block content %}
<html>
<head>
<title>SEO Link Analyzer: Login</title>
{% load static %}
<img src="{% static "plus500/LOGO.jpeg" %}" alt="home"  width="500" height="600"/>
  <style>
    .button{
      background-color: #90CAF9;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 10px;
    }

  </style>
</head>
<body>

<!--
{% if form.errors %}
  <p style="color:red; text-align:center;"> Your user/password didn't match </p>
{% endif %}
-->
<h1 class = "text-center">Welcome to SEO Link Analyzer!</h1>
<h4 class = "text-center">Please sign in to continue:</h4><br>
<form class = "text-center" method="post" %>
  {% csrf_token %}
  {{ form.as_p}}
  <br>
  <button type="submit" name="button" class="button">Sign In</button>
</form>

</body>
</html>

{% endblock %}
