{% extends 'plus500/base.html'%}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
  <div class = "container">
    <div class = "text-center container">
      <br>
      <h2 class = "text-center">SEO Link Analyzer</h2>
      <br>
    </div>
    <br><br>
  <!--  number of links and CATEFORIES SELECTION -->
  <form action="/home_filtered/" method="GET">
    <br>
    <label for="links_num">Choose number of links:</label><br>
    <input type="text" id="links_num" name="links_num" value=""><br>
    <br>
    <input type="submit" value="Search">
  </form>
<!--
  <form action = "" method="post">
      {{ home_form }}
  </form>
-->
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">URL Link</th>
      <th scope="col">Ahrefs Rank</th>
      <th scope="col">Domain Rating</th>
      <th scope="col">URL Pointing To</th>
      <th scope="col">Title</th>
      <th scope="col">Competitor</th>
      <th scope="col">Refdomains</th>
      <th scope="col">Traffic</th>
    </tr>
  </thead>
<tbody>
    {% for link in all_links %}
      <tr>
        <td>{{ link.url_from }}</td>
        <td>{{ link.ahrefs_rank }}</td>
        <td>{{ link.domain_rating }}</td>
        <td>{{ link.url_to }}</td>
        <td>{{ link.title }}</td>
        <td>{{ link.competitor }}</td>
        <td>{{ link.refdomains }}</td>
        <td>{{ link.traffic }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  <h4 class = "text-center">You need to login to continue</h4>
{% endif %}
{% endblock %}
