{% extends 'plus500/base.html'%}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
  <div class = "container">
    <div class = "text-center container">
      <br>
      <h2 style="font-family:Tahoma; font-weight:bold; color:#094268" class = "text-center">SEO Link Analyzer</h2>
      <br>
    </div>
  <!--  number of links and CATEFORIES SELECTION -->
  <form action="/home/" method="GET">
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <fieldset>
                <label style="font-size: 20px" for="news"><b>Choose categories:</b></label><br>
                <input style="margin-left: 20px;" type="checkbox" id="news" name="news" value="News">
                <label for="news">News</label><br>
                <input style="margin-left: 20px;" type="checkbox" id="finance" name="finance" value="Finance">
                <label for="finance">Finance</label><br>
                <input style="margin-left: 20px;" type="checkbox" id="crypto" name="crypto" value="Crypto">
                <label for="crypto">Crypto</label><br>
                <input style="margin-left: 20px;" type="checkbox" id="forex" name="forex" value="Forex">
                <label for="forex">Forex</label><br>
                <input style="margin-left: 20px;" type="checkbox" id="commodities" name="commodities" value="Commodities">
                <label for="commodities">Commodities</label><br>
                <input style="margin-left: 20px;" type="checkbox" id="leisure" name="leisure" value="Leisure">
                <label for="leisure">Leisure</label><br>
                <input style="margin-left: 20px;" type="checkbox" name="select-all" id="select-all" />
                <label for="select-all">Select All Categories</label><br>
                <br>
                </<fieldset>
                <script language="JavaScript">
                  document.getElementById('select-all').onclick = function() {
                    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                    for (var checkbox of checkboxes) {
                      checkbox.checked = this.checked;
                    }
                  }
                </script>
                <br>
            </td>
            <td>
              <div>
                <label style="font-size: 20px" for="selected_num"><b>Choose number of links:</b></label><br>
                <input style="margin-left: 20px;"  type="radio" name="radio" id="selected_num" value="selected_num" checked/><input type="text" name="links_num" value="{{num_of_links}}" placeholder="Type number..." /><br>
                <input style="margin-left: 20px;"  type="radio" name="radio" id="total_num" value="total_num"/>
                <label style="margin-left: 20px;"  for="total_num">Show all</label><br>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
    <input type="submit" value="Submit and Search" class="btn btn-primary btn-lg">
    <br>
    {% if links_num_exception %}
      <div class="alert alert-danger" role="alert">
        Invalid <b>number of links</b> entered, please enter a valid number.
      </div>
    {% endif %}
    <!-- <label for="links_num"><b>Choose number of links:</b></label><br>
    <input type="text" id="links_num" name="links_num" value={{num_of_links}}><br>
    <br> -->

  </form>
<!--
  <form action = "" method="post">
      {{ home_form }}
  </form>
-->
<br><br>
<table align="left" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">URL Link</th>
      <th scope="col">URL Domain</th>
      <th scope="col">Domain Rating</th>
      <th scope="col">URL Pointing To</th>
      <th scope="col">Title</th>
      <th scope="col">Competitor</th>
      <th scope="col">Refdomains</th>
      <th scope="col">Traffic</th>
      <th scope="col">Category</th>
      <th scope="col">Refdomains/Backlinks Ratio</th>
      <th scope="col">Send an Email?</th>
    </tr>
  </thead>
<tbody>
    {% for link in selected_links %}
      <tr>
        <td><a href="{{ link.url_from }}">{{link.url_from}}</a></td>
        <td>{{ link.url_domain }}</td>
        <td>{{ link.domain_rating }}</td>
        <td>{{ link.url_to }}</td>
        <td>{{ link.title }}</td>
        <td>{{ link.competitor }}</td>
        <td>{{ link.refdomains }}</td>
        <td>{{ link.traffic }}</td>
        <td>{{ link.category }}</td>
        <td>{{ link.refdomains_backlinks_ratio }}</td>
        <td>
          <form action="/send_an_email/" method="GET">
            {% csrf_token %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value={{setting_object.send_email}} id="send_email" name="send_email">
            <label class="form-check-label" for="send_email"></label>
          </div>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  <h4 class = "text-center">You need to login to continue</h4>
{% endif %}

{% endblock %}
