{% extends 'plus500/base.html'%}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
  <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Settings</title>
    <h2 class = "text-center">Settings</h2>
  </head>
  <body>
    <h6>The last settings are:</h6>
    {{settings_profile.domain_rating}}


    <form action="/settings/" method="POST">
      {% csrf_token %}
      <p>Domain Rating:</p>
      <label for="DR">Domain Rating > </label>
      <input type="text" id="DR" name="DR" value="" maxlength="40" size="3"><br>
      <br>
      <p>Domain Traffic:</p>
      <label for="DT">Domain Traffic > </label>
      <input type="text" id="DT" name="DT" value="" maxlength="40" size="3"><br>
      <br>
      <p>Referring Domains / Backlinks Ratio (in %):</p>
      <label for="RB_ratio">Referring Domains / Backlinks Ratio > </label>
      <input type="text" id="RB_ratio" name="RB_ratio" value="" maxlength="40" size="3"><br>
      <br>
      <p>Choose categories:</p>
      <input type="checkbox" id="news" name="news" value="News">
      <label for="news">News</label><br>
      <input type="checkbox" id="finance" name="finance" value="Finance">
      <label for="finance">Finance</label><br>
      <input type="checkbox" id="crypto" name="crypto" value="Crypto">
      <label for="crypto">Crypto</label><br>
      <input type="checkbox" id="forex" name="forex" value="Forex">
      <label for="forex">Forex</label><br>
      <input type="checkbox" id="commodities" name="commodities" value="Commodities">
      <label for="commodities">Commodities</label><br>
      <input type="checkbox" id="leisure" name="leisure" value="Leisure">
      <label for="leisure">Leisure</label><br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
  </html>

{% else %}
  <h4 class = "text-center">You need to login to continue</h4>
{% endif %}
{% endblock %}
