{% extends 'plus500/base.html'%}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
  <html lang="en" dir="ltr">
  <head>
    <style>
      body {
        font-size: 15px;
        margin-left: 30px;
        display:inline;
      }
      input[type=number] {
        border: none;
        border-bottom: 1px solid black;
        background-color: #F5F5F5;
      }
      input[type=submit]{
        background-color: #4085C1;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
      }
      input[type=submit]:hover{
        background-color: #96C0E5;
        color: white;
      }
      .first_table, .second_table{
        border-collapse: collapse;
        width: 100%;
      }
      .first_table th, .first_table td {
        padding: 8px;
        text-align: left;
        border-bottom: none;
        vertical-align:top;
      }
      div.save_button{
        text-align: center;
      }
    </style>
    <title>SEO Link Analyzer: Settings</title>
    <br><br>
    <h1 class = "text-center">Settings</h1>
  </head>
  <body>
    <form action="/settings/" method="POST" id="settings_form">
      {% csrf_token %}

  <table class= "first_table">
    <tbody>
      <tr>
        <td style="border-left: 2px solid #ddd;border-bottom: 2px solid #ddd;border-top: 2px solid #ddd;">
            <div class="container-fluid">
            {{form.as_p}}
            <fieldset>
          <!-- sorting metrics: -->
          <p style="text-decoration: underline;">Define the sorting metrics:<p>
          <label for="DR">Domain Rating > </label>
          <input type="number" id="DR" name="DR" value={{setting_object.domain_rating}} maxlength="40" style="width: 3em" step=1><br>
          <br>
          <label for="DT">Domain Traffic > </label>
          <input type="number" id="DT" name="DT" value={{setting_object.domain_traffic}} maxlength="40" style="width: 3em" step=1><br>
          <br>
          <label for="RB_ratio">Referring Domains and Backlinks Ratio (in %) > </label>
          <input type="number" id="RB_ratio" name="RB_ratio" value={{setting_object.referringDomains_backlinks_ratio}} maxlength="40" style="width: 3em" step=1 min=0 max=100><br>
          <br>
          </div>
      </td>
      <td style="border-left: 2px solid #ddd;border-bottom: 2px solid #ddd;border-top: 2px solid #ddd;">
      <div class="container-fluid">
      {{form.as_p}}
      <!-- sorting prioritities: -->
      <p style="text-decoration: underline;">Define the sorting prioritities:<p>
      <label for="DR_priority">Domain Rating Priority: </label>
      <input type="number" id="DR_priority" name="DR_priority" value={{setting_object.domain_rating_priority}} maxlength="40" style="width: 3em" min=0 max=2><br>
      <br>
      <label for="DT_priority">Domain Traffic Priority: </label>
      <input type="number" id="DT_priority" name="DT_priority" value={{setting_object.domain_traffic_priority}} maxlength="40" style="width: 3em" min=0 max=2><br>
      <br>
      <label for="RB_ratio_priority">Referring Domains and Backlinks Ratio Priority: </label>
      <input type="number" id="RB_ratio_priority" name="RB_ratio_priority" value={{setting_object.referringDomains_backlinks_ratio_priority}} maxlength="40" style="width: 3em" min=0 max=2><br>
      <br>
      </div>
    </td>
    <td style="border-left: 2px solid #ddd;border-bottom: 2px solid #ddd;border-top: 2px solid #ddd;">
      <div class="container-fluid">
      {{form.as_p}}
      <!-- competitor companies: -->
      <p style="text-decoration: underline;">Define the competitor companies:<p>
        <!--  ng-checked="{{setting_object.avatrae}}"  {{setting_object.avatrae}}-->
      <input style="margin-left: 20px;" type="checkbox" id="avatrae" name="avatrae"  {% if setting_object.avatrae %} checked="True" {% endif %}>
      <label for="avatrae">Avatrae</label>
      <br>
      <input style="margin-left: 20px;" type="checkbox" id="robinhood" name="robinhood" {% if setting_object.robinhood %} checked="True" {% endif %}>
      <label for="robinhood">Robinhood</label>
      <br>
      <input style="margin-left: 20px;" type="checkbox" id="etoro" name="etoro" {% if setting_object.etoro %} checked="True" {% endif %}>
      <label for="etoro">Etoro</label>
      <br>
      <input style="margin-left: 20px;" type="checkbox" id="IG" name="IG" {% if setting_object.IG %} checked="True" {% endif %}>
      <label for="IG">IG</label>
      <br>
      <input style="margin-left: 20px;" type="checkbox" id="CMC_markets" name="CMC_markets" {% if setting_object.CMC_markets %} checked="True" {% endif %}>
      <label for="CMC_markets">CMC markets</label>
      <br>
      <input style="margin-left: 20px;" type="checkbox" name="select-all" id="select-all" />
      <label for="select-all">Select all Competitors</label><br>
      <script language="JavaScript">
        document.getElementById('select-all').onclick = function() {
          var checkboxes = document.querySelectorAll('input[id="avatrae"], input[id="robinhood"], input[id="etoro"], input[id="IG"], input[id="CMC_markets"]');
          for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
          }
        }
      </script>
      </div>
      <br>
    </td>
    <td>


      </td>
    </tr>
  </tbody>
</table>

<div class="container-fluid">
{{form.as_p}}
<!-- Email Template: -->
<p style="text-decoration: underline;">Define the email template:<p>
<label for="email_template">Email Template:</label>
<input name="email_template" style="margin-left: 20px;" type="text" id="email_template" value={{setting_object.email_template}} placeholder="Type here..." size=50>
</div>

<!--<textarea name="paragraph_text" cols="50" rows="10"> </textarea>-->
<!--<textarea form ="settings_form" name="taname" id="taid" cols="35" wrap="soft" value={{setting_object.email_template}}></textarea>-->
<br>
<div class="save_button"><input type="submit" value="Save" class="btn btn-primary btn-lg"></div>

      <!-- Alerts of exceptions and succes-->
      {% if priority_range_exception %}
        <br>
        <div class="alert alert-danger" role="alert">
          Invalid <b>Priority Range</b> entered, please enter a valid range that includes exactly: 0,1,2.
        </div>
      {% endif %}
      {% if none_exception %}
        <br>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">All saved successfuly!</h4>
        </div>
      {% endif %}
    </form>
  </body>
  </html>

{% else %}
  <h4 class = "text-center">You need to login to continue</h4>
{% endif %}

{% endblock %}
